@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Patrick+Hand&display=swap');

.unclick {
    pointer-events: none;
}
body {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    text-align: center;
    background-image: url('img/tema/img_fundo_frozen.jpg');
}

h1 { 
    font-family: 'Ms Madi', cursive;
    font-size: 3em; 
    font-weight: lighter;
    margin: 0.3em auto 0 auto; 
    color: white;
    text-shadow: 2px 2px 3px black;
}

.container {
    width: 300px;
    /* height: 200px; */
    margin-left: auto;
    margin-right: auto;
}

.grid {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.spacewelcomemsg {
    font-size: 3em;
    /* background: linear-gradient(to bottom, #ffffffd2, #143b89d7); */
    height: 100%;
    width: 100%;
    margin: 0;
    /* border-radius: 50%;
    height: 200px;
    width: 300px; */
}

.welcomemsg1 {
    font-size: 0.4em;
    font-weight: lighter;
    color: white;
    text-shadow: 2px 2px 3px black;
    margin: 2em auto 0 auto;
}

.welcomemsg2 {
    margin: 0 auto 0 auto;
    font-size: 0.3em;
    font-weight: lighter;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.welcomemsg3 {
    margin: 0.3em auto 0 auto;
    font-size: 1em;
    color: white;
    text-shadow: 2px 2px 3px black; 
}

img {
    width: 100px;
    height: 100px;
}

#btn {
    font-family: 'Patrick Hand', cursive;
    font-size: 1em;
    color: white;
    text-shadow: 2px 2px 3px black;
    text-transform: uppercase;
    background: #143b89d7;
    padding: 0.5em;
    margin-top: 1em;
    border: 1px solid black;
    border-radius: 50%;
}

#btn:hover {
    box-shadow: 1px 1px 5px black;
    transition-duration: 0.2s;
}

.score {
    font-size: 1em;
    margin-top: 0.5em;
}

.showMsg {
    margin: 0 auto 0 auto;
    font-size: 1em; 
    color: white; 
    text-shadow: 2px 2px 3px black; 
    transition-duration: 0.2s;
}

.footer {
    font-size: 12px;
    margin-top: 1.6em;
}

.footer a {
    text-decoration: none;
    color: black;
}