@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Patrick+Hand&display=swap');

body {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    text-align: center;
    background-size: cover;
    /*background-image: url('https://images.pexels.com/photos/6913376/pexels-photo-6913376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');*/
    background-image: url('./img/img_fundo.jpg');
}

h1 { 
    font-size: 2em; 
    font-weight: bold; 
    margin-bottom: 0.5em; 
    margin-top: 1em;
}

.container {
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.grid {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.spacewelcomemsg {
    font-size: 1.7em;
    background: linear-gradient(to bottom, #819185, #C6B6B6);
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 3px black;
    height: 100%;
    width: 100%;
    margin: 0;
    height: 300px;
    width: 400px;
}

.welcomemsg {
    margin-top: 2.5em;
}

.welcomemsg2 {
    margin-top: -1.3em;
    font-size: 0.7em;
}

.welcomemsg3 {
    margin-top: -0.5em;
    font-size: 1.7em;
}

img {
    width: 100px;
    height: 100px;
}

#btn {
    font-family: 'Patrick Hand', cursive;
    font-size: 0.8em;
    color: white;
    text-shadow: 2px 2px 3px black;
    text-transform: uppercase;
    background: #C6B6B6;
    padding: 0.8em;
    margin-top: 1.5em;
    border: 1px solid black;
}

#btn:hover {
    box-shadow: 1px 1px 5px black;
    transition-duration: 0.2s;
}

.score {
    font-size: 1.2em;
    margin-top: 2em;
}

.footer {
    font-size: 14px;
    margin-top: 3em;
}